# Non-secret PKI defaults for platform PKI helpers.
PLATFORM_PKI_ROOT_DAYS=3650
PLATFORM_PKI_INTERMEDIATE_DAYS=1825
PLATFORM_PKI_SERVICE_DAYS=397
PLATFORM_PKI_CURVE=secp384r1
PLATFORM_PKI_DIGEST=sha384
